/** Page container / global container */
.container {
    /** Global width */
    width: 100%;
}

/** Create form style */
.formstd {
    background-color: #fafafa;
}

/** Form content style*/
.formcontent {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.required:after {
    content: "*";
    padding-left:1%;
}

