{% extends MainTpl %}

{% block header %}MyCrmUsers{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}
<input type="hidden" name="install_dir" id="install_dir" value="{{install_dir}}">
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{module_words.title_create_user}}
            <!--<small>With custom checbox and radion elements.</small>-->
        </h5>

        <div class="ibox-tools">
            <a href="javascript:window.history.back();" class="close-link">
                <i class="fa fa-arrow-left"></i>
            </a>

        </div>
    </div>
    <div class="ibox-content">

        <div class="formstd">
            <div class="formcontent">
                <form role="createUserForm" name="createUserForm" id="createUser" style="width:400px;"
                      action="insert_user_ajax" method="POST" data-toggle="validator">

                    <div class="form-group">
                        <label for="usr_first_name" class='control-label'>{{module_words.label_first_name}}:</label>
                        <input type="text" class="form-control" name="usr_first_name" id="usr_first_name" required
                               value="{{group.grp_name}}" data-error="First name is require">

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="usr_last_name" class='control-label'>{{module_words.label_last_name}}:</label>
                        <input type="text" class="form-control" name="usr_last_name" id="usr_last_name" required
                               value="{{group.grp_name}}" data-error="Last name is require">

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="usr_last_name" class='control-label'>{{module_words.label_email}}:</label>
                        <input type="text" class="form-control" name="usr_email" id="usr_email"
                               value="{{group.grp_name}}" data-error="Email is require" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="usr_password" class='control-label'>{{module_words.label_password}}:</label>
                        <input type="text" class="form-control" name="usr_password" id="usr_password"
                               value="{{group.grp_name}}" data-error="Password is require" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="usr_date_naissance" class='control-label'>{{module_words.label_birthday}}:</label>
                        <input type="text" class="form-control" name="usr_date_naissance" id="usr_date_naissance"
                               value="{{group.grp_name}}">
                    </div>

                    <div class="form-group">
                        <label for="usr_phone" class='control-label'>{{module_words.label_phone}}:</label>
                        <input type="text" class="form-control" name="usr_phone" id="usr_phone"
                               value="{{group.grp_name}}">
                    </div>

                    <div class="form-group">
                        <label for="usr_mobile_phone" class='control-label'>{{module_words.label_mobile_phone}}:</label>
                        <input type="text" class="form-control" name="usr_mobile_phone" id="usr_mobile_phone"
                               value="{{group.grp_name}}">
                    </div>

                    <h3>{{module_words.label_groups}}</h3>
                    <hr>

                    {% for group in groups %}

                    <div class="form-group">
                        <label for="usr_mobile_phone">{{group.grp_name}}</label>
                        <input type="checkbox" class="form-control" name="group_{{group.id}}" id="group_{{group.id}}">
                    </div>

                    {% endfor %}


                    <input type="submit" class="btn btn-default" value="{{module_words.button_submit}}">
                </form>
            </div>
        </div>
        <br/><br/>
    </div>
</div>

<!-- View associated Javascript file -->
<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/js/index.js"></script>

{% endblock %}