{% extends MainTpl %}

{% block header %}MyCrmUsers{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}
<input type="hidden" name="install_dir" id="install_dir" value="{{install_dir}}">
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{module_words.title_edit_user}}
            <!--<small>With custom checbox and radion elements.</small>-->
        </h5>

        <div class="ibox-tools">
            <a href="javascript:window.history.back()" class="close-link">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-gear"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a data-toggle="modal" data-target="#deleteModal">{{module_words.action_delete_user}}</a></li>
            </ul>


        </div>
    </div>
    <div class="ibox-content">

        <div class="formstd">
            <div class="formcontent">
                <form name="editUser" id="editUser" role="form" style="width:400px;"
                      action="../update_user_ajax" method="POST">

                    <input type="hidden" name="id" id="id" value="{{user.id}}">

                    <div class="form-group">
                        <label for="usr_first_name" class='control-label'>{{module_words.label_first_name}}:</label>
                        <input type="text" class="form-control" name="usr_first_name" id="usr_first_name"
                               value="{{user.usr_first_name}}" data-error="First name is require" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="usr_last_name" class='control-label'>{{module_words.label_last_name}}:</label>
                        <input type="text" class="form-control" name="usr_last_name" id="usr_last_name"
                               value="{{user.usr_last_name}}" data-error="Last name is require" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="usr_last_name" class='control-label'>{{module_words.label_email}}:</label>
                        <input type="text" class="form-control" name="usr_email" id="usr_email"
                               value="{{user.usr_email}}" data-error="Email is require" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="usr_date_naissance" class='control-label'>{{module_words.label_birthday}}:</label>
                        <input type="text" class="form-control" name="usr_date_naissance" id="usr_date_naissance"
                               value="{{user.usr_date_naissance|date('d-m-Y')}}">
                    </div>

                    <div class="form-group">
                        <label for="usr_phone" class='control-label'>{{module_words.label_phone}}:</label>
                        <input type="text" class="form-control" name="usr_phone" id="usr_phone"
                               value="{{user.usr_phone}}">
                    </div>

                    <div class="form-group">
                        <label for="usr_mobile_phone" class='control-label'>{{module_words.label_mobile_phone}}:</label>
                        <input type="text" class="form-control" name="usr_mobile_phone" id="usr_mobile_phone"
                               value="{{user.usr_mobile_phone}}">
                    </div>

                    <h3>{{module_words.label_groups}}</h3>
                    <hr>

                    {% for group in groups %}

                    {% set finded = 'false' %}

                    {% for g in userGroups %}

                    {% if g.group.grp_name == group.grp_name %}
                    {% set finded = 'true' %}
                    <div class="form-group">
                        <label for="usr_mobile_phone">{{g.group.grp_name}}</label>
                        <input type="checkbox" class="form-control" name="group_{{group.id}}" id="group_{{g.group.id}}"
                               checked>
                    </div>

                    {% endif %}
                    {% endfor %}

                    {% if finded != 'true' %}
                    <div class="form-group">
                        <label for="usr_mobile_phone">{{group.grp_name}}</label>
                        <input type="checkbox" class="form-control" name="group_{{group.id}}" id="group_{{group.id}}">
                    </div>
                    {% endif %}

                    {% endfor %}

                    <input type="submit" class="btn btn-default" value="{{module_words.button_submit}}">
                </form>
            </div>
        </div>

    </div>
</div>
<br/><br/>

<!-- Modal for "Menu" delete confirmation-->
<div class="modal fade" name="deleteModal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Question</h4>
            </div>
            <div class="modal-body">
                {{module_words.question_delete_user}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{module_words.action_close}}</button>
                <button type="button" class="btn btn-primary" id="closeDeleteModal" name="closeDeleteModal">{{module_words.action_validation}}</button>
            </div>
        </div>
    </div>
</div>

<!-- View associated Javascript file -->
<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/js/index.js"></script>

{% endblock %}