{% extends MainTpl %}

{% block header %}MyCrmUsers{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}
<input type="hidden" name="install_dir" id="install_dir" value="{{install_dir}}">
<input type="hidden" name="language" id="language" value="{{app_language}}">
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{module_words.title_edit_group}} "{{group.grp_name}}"
            <!--<small>With custom checbox and radion elements.</small>-->
        </h5>
    </div>
    <div class="ibox-content">

        <table id="table" class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
                <th>{{module_words.label_first_name}}</th>
                <th>{{module_words.label_last_name}}</th>
                <th>{{module_words.label_email}}</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>{{module_words.label_first_name}}</th>
                <th>{{module_words.label_last_name}}</th>
                <th>{{module_words.label_email}}</th>
            </tr>
            </tfoot>

            <tbody>

            {% for u in users %}
            <td>{{ u.user.usr_first_name }}</td>
            <td>{{ u.user.usr_last_name }}</td>
            <td>{{ u.user.usr_email }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
</div>

<!-- View associated Javascript file -->
<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/js/index.js"></script>

{% endblock %}