<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFiles">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFiles"
               aria-expanded="false" aria-controls="collapseFiles">
                Files
            </a>
        </h4>
    </div>
    <div id="collapseFiles" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFiles">
        <div class="panel-body">
            {% for f in files %}
            <label onclick="javascript:loadFile('{{f}}');"> {{f}}</label><br/>
            {% endfor %}
        </div>
    </div>
</div>