<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNavBar">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNavBar"
               aria-expanded="false" aria-controls="collapseNavBar">
                NavBar
            </a>
        </h4>
    </div>
    <div id="collapseNavBar" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNavBar">
        <div class="panel-body">

            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" id="edit" class="active btn btn-xs btn-primary"><i
                        class="glyphicon glyphicon-edit "></i> Edit
                </button>
                <button type="button" class="btn btn-xs btn-primary" id="devpreview"><i
                        class="glyphicon-eye-close glyphicon"></i> Developer
                </button>
                <button type="button" class="btn btn-xs btn-primary" id="sourcepreview"><i
                        class="glyphicon-eye-open glyphicon"></i> Preview
                </button>
            </div>
            <div class="btn-group">


                <button class="btn btn-xs btn-primary" href="#clear" id="clear"><i
                        class="glyphicon-trash glyphicon"></i> Clear
                </button>

                <button class="btn btn-xs btn-primary" href="#clear" ><i
                        class="glyphicon-trash glyphicon"></i> New page
                </button>

                <button class="btn btn-xs btn-primary" href="#clear" id="save"><i
                        class="glyphicon-trash glyphicon"></i> Save
                </button>

                <button class="btn btn-xs btn-primary" href="#clear" id="code_editor"><i
                        class="glyphicon-trash glyphicon"></i> Code editor
                </button>
            </div>
        </div>
    </div>
</div>