<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                        "access plus 1 month"
  # CSS
    ExpiresByType text/css                "access plus 1 year"
  # JavaScript
    ExpiresByType application/javascript  "access plus 1 year"
</IfModule>