{% extends MainTpl %}{% block header %}{{module_title}}{% endblock %}{% block header_block %}{% include 'Header.html' %}{% endblock %}{% block main_content %}<div class="lyrow ui-draggable" style="display: block;">
                <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i> remove</a>
                <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> drag</span>

                <div class="preview"><input type="text" value="12" class="form-control"></div>
                <div class="view">
                    <div class="row clearfix">
                        <div class="col-md-12 column ui-sortable"><div class="box box-element ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
                <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> remove</a>
                <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> drag</span>

                <div class="preview">Page Header</div>
                <div class="view">
                    <div class="page-header">
                        <h1 contenteditable="true">This is my page {% endblock %}