{% extends MainTpl %}

{% block header %}MyCrmMenus{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}
<input type="hidden" name="language" id="language" value="{{app_language}}">
<input type="hidden" name="install_dir" id="install_dir" value="{{install_dir}}">
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{title}}
            <!--<small>With custom checbox and radion elements.</small>-->
        </h5>

        <div class="ibox-tools">

            <a href="javascript:window.history.back()" class="close-link">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-gear"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a data-toggle="modal" data-target="#basicModal">Delete menu</a></li>
            </ul>

        </div>
    </div>
    <div class="ibox-content">

        <div class="formstd">
            <div class="formcontent">
                <form name="formMenu" id="formMenu" role="form" style="width:400px;"
                      action="?module=mycrm_menu&action={{db_action}}" method="POST">
                    <input type="hidden" name="id" id="id" value="{{menu.id}}">

                    <div class="form-group">
                        <label for="menu_name">Name:</label>
                        <input type="text" class="form-control" name="menu_name" id="menu_name"
                               value="{{menu.menu_name}}" data-error="Module name is required" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="menu_name">Static link:</label>
                        <input type="text" class="form-control" name="a_menu_static_link" id="a_menu_static_link"
                               value="{{menu.menu_static_link}}">
                    </div>
                    <div class="form-group">
                        <label for="menu_description">Description:</label>
                        <input type="text" class="form-control" name="menu_description" id="menu_description"
                               value="{{menu.menu_description}}" data-error="Description is required" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="menu_description">Icon (font-awesome):</label>
                        <input type="text" class="form-control" name="menu_font_awesome_icon" id="menu_font_awesome_icon"
                               value="{{menu.menu_font_awesome_icon}}" data-error="Icone is required" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <input type="submit" class="btn btn-default" value="Submit">
                </form>
            </div>
        </div>
        <br/><br/>

        <!-- Show subitems only if we are updating -->
        {% if db_action == "update_menu" %}
        <div class="formstd">
            <div class="formcontent">
                <h3>Sub-items</h3>
                <hr/>

                <a class="btn btn-default" type="button" href="http://example.com" data-toggle="modal"
                   data-target="#addSubitemModal">Add subitem</a>

                <br/><br/>
                <table id="table" class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Position</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Position</th>
                    </tr>
                    </tfoot>

                    <tbody>

                    {% for subitem in subitems %}
                    <tr onclick="javascript:updateMenuItem('{{ subitem.id }}', '{{ subitem.menu_item_name }}' ,'{{ subitem.menu_item_position }}', '{{ subitem.menu_descriptiop }}' ,'{{ subitem.menu_static_link }}' ,'{{ subitem.menu_font_awesome_icon }}')">
                        <td>{{ subitem.menu_item_name }}</td>
                        <td>{{ subitem.menu_descriptiop }}</td>
                        <td>{{ subitem.menu_item_position }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        <!-- Modal for "Menu" delete confirmation-->
        <div class="modal fade" name="basicModal" id="basicModal" tabindex="-1" role="dialog"
             aria-labelledby="basicModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Question</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure to want to delete this "menu" ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="closeDeleteModal" name="closeDeleteModal">
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for "MenuItem" actions-->
        <div class="modal fade" name="addSubitemModal" id="addSubitemModal" tabindex="-1" role="dialog"
             aria-labelledby="addSubitemModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="menuItemModalLabel">Add subitem</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" style="width:400px;">

                            <div class="form-group">
                                <label for="menu_name">Name:</label>
                                <input type="text" class="form-control" name="menu_item_name" id="menu_item_name">
                            </div>
                            <div class="form-group">
                                <label for="menu_description">Static link:</label>
                                <input type="text" class="form-control" name="menu_static_link" id="menu_static_link">
                            </div>
                            <div class="form-group">
                                <label for="menu_description">Description:</label>
                                <input type="text" class="form-control" name="menu_descriptiop" id="menu_descriptiop">
                            </div>
                            <div class="form-group">
                                <label for="menu_description">Position:</label>
                                <input type="text" class="form-control" name="menu_position" id="menu_position">
                            </div>
                            <div class="form-group">
                                <label for="a_menu_font_awesome_icon">Icon:</label>
                                <input type="text" class="form-control" name="a_menu_font_awesome_icon" id="a_menu_font_awesome_icon">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="closeMenuItemModal" name="closeMenuItemModal">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for "MenuItem" update-->
        <div class="modal fade" name="updateSubitemModal" id="updateSubitemModal" tabindex="-1" role="dialog"
             aria-labelledby="addSubitemModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="updateSubitemModalLabel">Edit subitem</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" style="width:400px;">

                            <input type="hidden" name="update_menu_id" id="update_menu_id">

                            <div class="form-group">
                                <label for="menu_name">Name:</label>
                                <input type="text" class="form-control" name="menu_item_name"
                                       id="update_menu_item_name">
                            </div>
                            <div class="form-group">
                                <label for="menu_description">Static link:</label>
                                <input type="text" class="form-control" name="menu_static_link"
                                       id="update_menu_static_link">
                            </div>
                            <div class="form-group">
                                <label for="menu_description">Description:</label>
                                <input type="text" class="form-control" name="menu_descriptiop"
                                       id="update_menu_descriptiop">
                            </div>
                            <div class="form-group">
                                <label for="menu_description">Position:</label>
                                <input type="text" class="form-control" name="update_menu_item_position"
                                       id="update_menu_item_position">
                            </div>
                            <div class="form-group">
                                <label for="a_menu_font_awesome_icon">Icon:</label>
                                <input type="text" class="form-control" name="u_menu_font_awesome_icon" id="u_menu_font_awesome_icon">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-danger" type="button" onclick="javascript:deleteSubItem();">Delete</a>
                        <button type="button" class="btn btn-primary" id="updateMenuItemModal"
                                name="updateMenuItemModal">Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View associated Javascript file -->
<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/js/menu.js"></script>

{% endblock %}