{% extends MainTpl %}

{% block header %}Todos{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}

<!-- CodeMirror CSS -->
<link href="http://localhost/test/css/plugins/codemirror/codemirror.css" rel="stylesheet">
<link href="http://localhost/test/css/plugins/codemirror/ambiance.css" rel="stylesheet">
<link href="http://localhost/test/css/plugins/codemirror/elegant.css" rel="stylesheet">
<link href="http://localhost/test/css/plugins/codemirror/monokai.css" rel="stylesheet">



<!-- CodeMirror JS -->
<script src="http://localhost/test/js/plugins/codemirror/codemirror.js"></script>
<script src="http://localhost/test/js/plugins/codemirror/mode/javascript/javascript.js"></script>
<script src="http://localhost/test/js/plugins/codemirror/mode/javascript/javascript.js"></script>
<script src="http://localhost/test/js/plugins/codemirror/mode/clike/clike.js"></script>
<script src="http://localhost/test/js/plugins/codemirror/mode/php/php.js"></script>
<script src="http://localhost/test/js/plugins/codemirror/mode/css/css.js"></script>
<script src="http://localhost/test/js/plugins/codemirror/mode/sass/sass.js"></script>
<script src="http://localhost/test/js/plugins/codemirror/mode/sql/sql.js"></script>
<script src="http://localhost/test/js/plugins/codemirror/mode/perl/perl.js"></script>
<script src="http://localhost/test/js/plugins/codemirror/mode/python/python.js"></script>

<script type="text/javascript"
        src="http://cdn.transparensee.com/lib/jquery-plugin/touchpunch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="http://localhost/test/vendor/editor/jquery.htmlClean.js"></script>
<script type="text/javascript" src="http://localhost/test/vendor/editor/script.min.js"></script>

<style>

    .CodeMirror {
        height: 100%;
        background: white;
    }

    #code1 {
        height: 100%;
        background: white;
    }
</style>


<input type="hidden" name="install_path" id="install_path" value="{{install_path}}">
<input type="hidden" name="module_name" id="module_name" value="{{module_name}}">
<input type="hidden" name="id" id="id" value="{{id}}">

<div class="row">
    <span id="fileSystemDiv"></span>

    <div class="col-lg-9 animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><label id="fileNameLabel"></label>
                        </h5>

                        <div class="ibox-tools">
                            <a href="javascript:window.history.back();" class="close-link">
                                <i class="fa fa-arrow-left"></i>
                            </a>

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-gear"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="javascript:register_module('{{module.id}}','{{module_words.label_yes}}','{{module_words.label_module_installed}}','{{module_words.label_error_create_module}}')">{{module_words.action_register_this_module}}</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="ibox-content">

                        <div name="divCodeEditor" id="divCodeEditor"    >
                            <textarea id="code1" name="code1" class="code1"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal for new directory-->
<div class="modal fade" name="newDirModal" id="newDirModal" tabindex="-1" role="dialog" aria-labelledby="newDirModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New directory</h4>
            </div>
            <div class="modal-body">
                Create a new directory for your module<br/><br/>

                <form name="createDirForm" id="createDirForm">
                    <div class="form-group">
                        <label for="dir_name" class='control-label'>Directory name:</label>
                        <input type="text" class="form-control" name="dir_name" id="dir_name" required
                               data-error="Directory name is require">

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                        </button>
                        <input type="submit" class="btn btn-primary" id="closeDeleteModal" name="closeDeleteModal"
                               value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for new File-->
<div class="modal fade" name="newDirModal" id="newFileModal" tabindex="-1" role="dialog" aria-labelledby="newFileModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="newFileModala">New File</h4>
            </div>
            <div class="modal-body">
                Create a new file for your module<br/><br/>

                <form name="createFileForm" id="createFileForm">
                    <div class="form-group">
                        <label for="dir_name" class='control-label'>File name:</label>
                        <input type="text" class="form-control" name="file_name" id="file_name" required
                               data-error="File name is require">

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                        </button>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        mode: 'htmlmixed',
        matchBrackets: true,
        styleActiveLine: true,
        theme: "monokai"
    });


    editor.setValue("");

    $('#createDirForm').validator();
    $('#createFileForm').validator();

</script>

<script src="{{install_url}}/src/MyCrm/Modules/MyCrmModules/js/editor.js"></script>
<script src="{{install_url}}/src/MyCrm/Modules/MyCrmModules/js/view.js"></script>

{% endblock %}



