{% extends MainTpl %}

{% block header %}Todos{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}
<div class="ibox">
    <div class="ibox-title">
        <h5>Wizard with Validation</h5>

        <div class="ibox-tools">

            <a href="javascript:window.history.back();" class="close-link">
                <i class="fa fa-arrow-left"></i>
            </a>


        </div>
    </div>
    <div class="ibox-content">
        <h2>
            {{module_words.title_create_module}}
        </h2>
        <!--<p>
            This example show how to use Steps with jQuery Validation plugin.
        </p>-->

        <form id="form" name="form" action="#" class="wizard-big">
            <h1>General</h1>
            <fieldset>
                <h2>General Information</h2>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label>{{module_words.label_name}} *</label>
                            <input type="text" class="form-control required" name="mod_name" id="mod_name" value="test"
                                    >
                        </div>
                        <div class="form-group">
                            <label>{{module_words.label_description}} *</label>
                            <input type="text" class="form-control required" name="mod_description" value="test"
                                   id="mod_description">
                        </div>
                        <div class="form-group">
                            <label>{{module_words.label_author}} *</label>
                            <input id="mod_author" name="mod_author" type="text" value="test"
                                   class="form-control required">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <div style="margin-top: 20px">
                                <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <h1>Entity</h1>
            <fieldset>
                <h2>Entity to use</h2>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Entity name *</label>
                            <input id="entity_name" name="entity_name" type="text" value="test"
                                   class="form-control required">
                        </div>
                    </div>
                </div>
            </fieldset>

            <h1>Form fields</h1>
            <fieldset>
                <h2>Fields to use in form</h2>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">

                            <select name="fields_disp" id="fields_disp" multiple size="5" style="min-width: 200px;">
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="button" name="btnAdd" id="btnAdd" value="Add">
                            <input type="button" name="btnRemove" id="btnRemove" value="Remove">
                        </div>

                        <div class="form-group">

                            <select name="fields_to_create" id="fields_to_create" multiple size="5"
                                    style="min-width: 200px;">
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>


            <h1>Finish</h1>
            <fieldset>
                <h2>Finish</h2>
                <input id="acceptTerms" name="acceptTerms" type="checkbox" > <label
                    for="acceptTerms">I agree with the Terms and Conditions.</label>
            </fieldset>
        </form>
    </div>
</div>
<input type="hidden" name="install_url" id="install_url" value="{{install_url}}">
<!-- View associated Javascript file -->
<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/js/create_with_crud.js"></script>
{% endblock %}