    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                    <h5>File manager</h5>

                    <div class="hr-line-dashed"></div>
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#newFileModal">New File</button>
                    <div class="hr-line-dashed"></div>
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#newDirModal">New
                        directory
                    </button>
                    <div class="hr-line-dashed"></div>
                    <h5>Folders</h5>

                    <ul class="folder-list" style="padding: 0">
                        {% for dir in directories %}
                        <li><a href="javascript:changeFolder('{{ dir }}')"><i class="fa fa-folder"></i> {{ dir }}</a>
                        </li>
                        <span id="{{ dir }}" name="{{ dir }}"></span>
                        {% endfor %}

                        {% for file in rootFiles %}
                        <li><a href="javascript:changeFile('{{ file }}', '' );"><i class="fa fa-file-code-o"></i> {{
                            file }}</a>
                        </li>
                        <span id="{{ file }}" name="{{ file }}"></span>
                        {% endfor %}

                        <div class="clearfix"></div>
                    </ul>
                </div>

            </div>
        </div>
    </div>
