{% extends MainTpl %}

{% block header %}{{module_title}}{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}

<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#phpframework" data-toggle="tab">PHP Framework</a></li>
        <li><a href="#phpmodules" data-toggle="tab">PHP Modules</a></li>
        <li><a href="#jsframework" data-toggle="tab">Javascript Framework</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="phpframework" style="height: 3000px;">
            <iframe src="http://localhost/Mobissime-Liberta/doc/php/framework/" scrolling="no" frameborder="0"
                    style="overflow:hidden;height:100%;width:100%"></iframe>
        </div>
        <div class="tab-pane" id="phpmodules" style="height: 3000px;">
            <iframe src="http://localhost/Mobissime-Liberta/doc/php/modules/" scrolling="no" frameborder="0"
                    style="overflow:hidden;height:100%;width:100%"></iframe>
        </div>
        <div class="tab-pane" id="jsframework" style="height: 3000px;">
            <iframe src="http://localhost/Mobissime-Liberta/doc/js/framework/global.html" scrolling="no" frameborder="0"
                    style="overflow:hidden;height:100%;width:100%"></iframe>
        </div>
    </div>
</div>


<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/js/index.js"></script>

{% endblock %}
