{% extends MainTpl %}

{% block header %}Todos{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{module_words.title_create_module}}</h5>

        <div class="ibox-tools">
            <a href="javascript:window.history.back();" class="close-link">
                <i class="fa fa-arrow-left"></i>
            </a>

        </div>
    </div>
    <div class="ibox-content">
        <div class="formstd">
            <div class="formcontent">
                <form name="insertModule" id="insertModule" role="form">

                    <input type="hidden" name="iconHidden" id="iconHidden">

                    <h4>General options</h4>
                    <hr/>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mod_name" class='control-label'>{{module_words.label_name}}:</label>
                                <input type="text" class="form-control" name="mod_name" id="mod_name"
                                       data-error="Module name is required" required>

                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="mod_author" class='control-label'>{{module_words.label_author}}:</label>
                                    <input type="text" class="form-control" name="mod_author" id="mod_author"
                                           data-error="Module author is required" required>

                                    <div class="help-block with-errors"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mod_description" class='control-label'>{{module_words.label_description}}:</label>
                        <input type="text" class="form-control"
                               name="mod_description" id="mod_description"
                               data-error="Module description is required" required>

                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="mod_route"
                                       class='control-label'>
                                    &nbsp;Module route</label>
                                <input type="text" class="form-control" name="mod_route"
                                       id="mod_route" data-error="Module route is required" required>

                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mod_icon" class='control-label'>Icon:</label><br/>
                                <button class="btn btn-default" id="mod_icon" name="mod_icon" data-iconset="fontawesome"
                                        data-icon="fa-wifi"
                                        role="iconpicker"></button>
                            </div>
                        </div>
                    </div>

                    <h4>Menu integration</h4>
                    <hr/>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox" name="menu_admin_integration"
                                       id="menu_admin_integration"><label for="menu_admin_integration"
                                                                          class='control-label'>
                                &nbsp;Admin menu integration</label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox" name="menu_site_integration"
                                       id="menu_site_integration"><label for="menu_site_integration"
                                                                         class='control-label'>
                                &nbsp;Site menu integration</label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox" name="module_require_login"
                                       id="module_require_login"><label for="module_require_login"
                                                                        class='control-label'>&nbsp;Login
                                required</label>
                            </div>
                        </div>
                    </div>

                    <input type="submit" name="submit" id="submit" class="btn btn-default"
                           value="{{module_words.action_submit}}">
                </form>
            </div>
        </div>
        <br/><br/>


    </div>
</div>
<!-- View associated Javascript file -->
<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/js/create.js"></script>

<script>

    $('#mod_icon').on('change', function (e) {
        $("#iconHidden").val(e.icon);
        //alert(e.icon);
    });

    $('#mod_icon').iconpicker({
        arrowClass: 'btn-danger',
        arrowPrevIconClass: 'glyphicon glyphicon-chevron-left',
        arrowNextIconClass: 'glyphicon glyphicon-chevron-right',
        cols: 5,
        icon: 'fa-key',
        iconset: 'fontawesome',
        labelHeader: '{0} of {1} pages',
        labelFooter: '{0} - {1} of {2} icons',
        placement: 'bottom',
        rows: 5,
        search: true,
        searchText: 'Search',
        selectedClass: 'btn-success',
        unselectedClass: ''
    });
</script>

<div class="modal inmodal" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <i class="fa fa-warning modal-icon"></i>
                <h4 class="modal-title">Error</h4>
                <small class="font-bold">Oups, there was an error.
                </small>
            </div>
            <div class="modal-body">
                <p>A module with this name already exist in database. Please change your module name or delete the other
                    module before creating this</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="{{install_url}}/js/inspinia.js"></script>


{% endblock %}