{% extends MainTpl %}

{% block header %}MyCrmTickets{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}
<input type="hidden" name="install_url" id="install_url" value="{{install_url}}">

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{module_words.title_view}} {{case.id}}
            <!--<small>With custom checbox and radion elements.</small>-->
        </h5>

        <div class="ibox-tools">

            <a href="javascript:window.history.back()" class="close-link">
                <i class="fa fa-arrow-left"></i>
            </a>


            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-gear"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{install_url}}web/front.php/tickets/edit_case/{{case.id}}">{{module_words.action_update_case}}</a>
                </li>
                <li><a data-toggle="modal" data-target="#deleteModal">{{module_words.action_delete_case}}</a></li>
            </ul>

        </div>
    </div>
    <div class="ibox-content">

        <div class="formstd_">
            <div class="formcontent_">
                <form name="formOpenCase" id="formOpenCase" role="form"
                      action="?module=mycrm_cases&action=insert_case" method="POST">
                    <input type="hidden" name="id" id="id" value="{{case.id}}">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="account_name">{{module_words.label_account_name}}:</label>

                                <div id="account_name">{{ account.account_name }}</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contact_name">{{module_words.label_contact_name}}:</label>

                                <div id="contact_name">{{ case.case_contact.person.person_first_name }} {{
                                    case.case_contact.person.person_last_name }}
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_priority">{{module_words.label_priority}}:</label>

                                <div id="case_priority">
                                    {% if case.case_priority==1 %}
                                    <td>{{ module_words.priority_1}}</td>
                                    {% elseif case.case_priority==2 %}
                                    <td>{{ module_words.priority_2}}</td>
                                    {% elseif case.case_priority==3 %}
                                    <td>{{ module_words.priority_3}}</td>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_status">{{module_words.label_status}}:</label>

                                <div id="case_status">
                                    {% if case.case_status==1 %}
                                    <td>{{ module_words.status_1}}</td>
                                    {% elseif case.case_status==2 %}
                                    <td>{{ module_words.status_2}}</td>
                                    {% elseif case.case_status==3 %}
                                    <td>{{ module_words.status_3}}</td>
                                    {% elseif case.case_status==4 %}
                                    <td>{{ module_words.status_4}}</td>
                                    {% elseif case.case_status==5 %}
                                    <td>{{ module_words.status_5}}</td>
                                    {% elseif case.case_status==6 %}
                                    <td>{{ module_words.status_6}}</td>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_type">{{module_words.label_type}}:</label>

                                <div id="case_type">
                                    {% if case.case_type==1 %}
                                    <td>{{ module_words.type_1}}</td>
                                    {% elseif case.case_type==2 %}
                                    <td>{{ module_words.type_2}}</td>
                                    {% elseif case.case_type==3 %}
                                    <td>{{ module_words.type_3}}</td>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="assignedTo">{{module_words.label_assigned_to}}:</label>

                                <div id="assignedTo">

                                    <td>{{ case.assignedTo.usr_first_name}} {{ case.assignedTo.usr_last_name}}</td>

                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_subject">{{module_words.label_subject}}:</label>

                                <div id="case_subject">
                                    {{ case.case_subject}}

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="case_description">{{module_words.label_description}}:</label>

                                <div id="case_description">
                                    {{ case.case_description}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <br/>
                    <br/>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- Modal for "Menu" delete confirmation-->
<div class="modal fade" name="deleteModal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{module_words.label_question}}</h4>
            </div>
            <div class="modal-body">
                {{module_words.question_delete_case}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{module_words.action_close}}
                </button>
                <button type="button" class="btn btn-primary" id="closeDeleteModal" name="closeDeleteModal">
                    {{module_words.action_validation}}
                </button>
            </div>
        </div>
    </div>
</div>


<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/Js/view_case.js"></script>
{% endblock %}
