{% extends MainTpl %}

{% block header %}MyCrmTickets{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}
<input type="hidden" name="install_url" id="install_url" value="{{install_url}}">

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{module_words.title_edit}} {{case.id}}
            <!--<small>With custom checbox and radion elements.</small>-->
        </h5>

        <div class="ibox-tools">

            <a href="javascript:window.history.back()" class="close-link">
                <i class="fa fa-arrow-left"></i>
            </a>

        </div>
    </div>
    <div class="ibox-content">


        <div class="formstd_">
            <div class="formcontent_">
                <form name="formOpenCase" id="formOpenCase" role="form"
                      action="?module=mycrm_cases&action=insert_case" method="POST">
                    <input type="hidden" name="id" id="id" value="{{menu.id}}">

                    <input type="hidden" name="case_id" id="case_id" value="{{ case.id }}">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="account_name">{{module_words.label_account_name}}:</label>

                                <div id="account_name">{{ account.account_name }}</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contact_name">{{module_words.label_contact_name}}:</label>

                                <div id="contact_name">{{ case.case_contact.person.person_first_name }} {{
                                    case.case_contact.person.person_last_name }}
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_priority">{{module_words.label_priority}}:</label>

                                <select class="form-control m-b" name="case_priority" id="case_priority">
                                    {% if case.case_priority==1 %}
                                    <option value="1" selected>{{module_words.priority_1}}</option>
                                    {% else %}
                                    <option value="1">{{module_words.priority_1}}</option>
                                    {% endif %}

                                    {% if case.case_priority==2 %}
                                    <option value="2" selected>{{module_words.priority_2}}</option>
                                    {% else %}
                                    <option value="2">{{module_words.priority_2}}</option>
                                    {% endif %}

                                    {% if case.case_priority==3 %}
                                    <option value="3" selected>{{module_words.priority_3}}</option>
                                    {% else %}
                                    <option value="3">{{module_words.priority_3}}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_status">{{module_words.label_status}}:</label>
                                <select class="form-control m-b" name="case_status" id="case_status">

                                    {% if case.case_status==1 %}
                                    <option value="1" selected>{{module_words.status_1}}</option>
                                    {% else %}
                                    <option value="1">{{module_words.status_1}}</option>
                                    {% endif %}

                                    {% if case.case_status==2 %}
                                    <option value="2" selected>{{module_words.status_2}}</option>
                                    {% else %}
                                    <option value="2">{{module_words.status_2}}</option>
                                    {% endif %}

                                    {% if case.case_status==3 %}
                                    <option value="3" selected>{{module_words.status_3}}</option>
                                    {% else %}
                                    <option value="3">{{module_words.status_3}}</option>
                                    {% endif %}

                                    {% if case.case_status==4 %}
                                    <option value="4" selected>{{module_words.status_4}}</option>
                                    {% else %}
                                    <option value="4">{{module_words.status_4}}</option>
                                    {% endif %}

                                    {% if case.case_status==5 %}
                                    <option value="5" selected>{{module_words.status_5}}</option>
                                    {% else %}
                                    <option value="5">{{module_words.status_5}}</option>
                                    {% endif %}

                                    {% if case.case_status==6 %}
                                    <option value="6" selected>{{module_words.status_6}}</option>
                                    {% else %}
                                    <option value="6">{{module_words.status_6}}</option>
                                    {% endif %}

                                </select>


                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_type">{{module_words.label_type}}:</label>

                                <select class="form-control m-b" name="case_type" id="case_type">
                                    {% if case.case_type==1 %}
                                    <option value="1" selected>{{module_words.type_1}}</option>
                                    {% else %}
                                    <option value="1">{{module_words.type_1}}</option>
                                    {% endif %}

                                    {% if case.case_type==2 %}
                                    <option value="2" selected>{{module_words.type_2}}</option>
                                    {% else %}
                                    <option value="2">{{module_words.type_2}}</option>
                                    {% endif %}

                                    {% if case.case_type==3 %}
                                    <option value="3" selected>{{module_words.type_3}}</option>
                                    {% else %}
                                    <option value="3">{{module_words.type_3}}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="assignedTo">{{module_words.label_assigned_to}}:</label>

                                <select class="form-control m-b" name="assignedTo" id="assignedTo">
                                    {% for user in users %}

                                    {% if user==case.assignedTo %}
                                    <option value="{{ user.id }}" selected>{{ user.usr_last_name }} {{
                                        user.usr_first_name }}
                                        {% else %}
                                    <option value="{{ user.id }}">{{ user.usr_last_name }} {{ user.usr_first_name }}
                                        {% endif %}

                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="case_subject">{{module_words.label_subject}}:</label>
                                <input type="text" data-error="{{module_words.error_subject}}" required
                                       class="form-control"
                                       name="case_subject" id="case_subject" value="{{ case.case_subject}}">

                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="case_description">{{module_words.label_description}}:</label>
                        <textarea class="form-control" name="case_description" id="case_description"
                                  rows="5" required data-error="{{module_words.error_description}}">{{case.case_description}}</textarea>

                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="case_resolution">{{module_words.label_resolution}}:</label>
                        <textarea class="form-control" name="case_resolution" id="case_resolution"
                                  rows="5">{{case.case_resolution}}</textarea>

                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="float: right;">
                        <input type="button" name="updateCase" id="updateCase" value="{{module_words.action_submit}}"
                               class="btn btn-default">
                    </div>

                    <br/>
                    <br/>
                </form>
            </div>
        </div>

    </div>
</div>

<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/Js/edit_case.js"></script>
{% endblock %}
