{% extends MainTpl %}

{% block header %}MyCrmTickets{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}
<input type="hidden" name="install_url" id="install_url" value="{{install_url}}">

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{module_words.action_open_case}}
            <!--<small>With custom checbox and radion elements.</small>-->
        </h5>

        <div class="ibox-tools">

            <a href="javascript:window.history.back()" class="close-link">
                <i class="fa fa-arrow-left"></i>
            </a>

        </div>
    </div>
    <div class="ibox-content">

        <div class="formstd_">
            <div class="formcontent_">
                <form name="formOpenCase" id="formOpenCase" role="form"
                      action="?module=mycrm_cases&action=insert_case" method="POST">
                    <input type="hidden" name="id" id="id" value="{{menu.id}}">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_account">{{module_words.label_account_name}}:</label>

                                <select class="form-control m-b" name="case_account" id="case_account">
                                    {% for account in accounts %}
                                    <option value="{{ account.id }}">{{ account.account_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_contact">{{module_words.label_contact_name}}:</label>
                                <select class="form-control" name="case_contact" id="case_contact" required
                                        data-error="{{module_words.error_contact}}">
                                </select>

                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_priority">{{module_words.label_priority}}:</label>
                                <select class="form-control m-b" name="case_priority" id="case_priority">
                                    <option value="1">{{module_words.priority_1}}</option>
                                    <option value="2">{{module_words.priority_2}}</option>
                                    <option value="3">{{module_words.priority_3}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_status">{{module_words.label_status}}:</label>
                                <select class="form-control m-b" name="case_status" id="case_status">
                                    <option value="1">{{module_words.status_1}}</option>
                                    <option value="2">{{module_words.status_2}}</option>
                                    <option value="3">{{module_words.status_3}}</option>
                                    <option value="1">{{module_words.status_4}}</option>
                                    <option value="2">{{module_words.status_5}}</option>
                                    <option value="3">{{module_words.status_6}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_priority">{{module_words.label_type}}:</label>
                                <select class="form-control m-b" name="case_type" id="case_type">
                                    <option value="1">{{module_words.type_1}}</option>
                                    <option value="2">{{module_words.type_2}}</option>
                                    <option value="3">{{module_words.type_3}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="assignedTo">{{module_words.label_assigned_to}}:</label>

                                <select class="form-control m-b" name="assignedTo" id="assignedTo">
                                    {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.usr_last_name }} {{ user.usr_first_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="case_subject">{{module_words.label_subject}}:</label>
                        <input type="text" data-error="{{module_words.error_subject}}" required class="form-control"
                               name="case_subject" id="case_subject">

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="case_description">{{module_words.label_description}}:</label>
                        <textarea class="form-control" name="case_description" id="case_description" cols="10"
                                  rows="5" required data-error="{{module_words.error_description}}"></textarea>

                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group" style="float: right;">
                        <input type="button" name="insertCase" id="insertCase" value="{{module_words.action_submit}}" class="btn btn-default">
                    </div>
                    <br/>
                    <br/>
                </form>
            </div>
        </div>

    </div>
</div>

<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/Js/open.js"></script>
{% endblock %}
