{% extends MainTpl %}

{% block header %}MyCrmUserProfile{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}
<!-- Image cropper -->
<script src="{{install_url}}/js/plugins/cropper/cropper.min.js"></script>
<link href="{{install_url}}/css/plugins/cropper/cropper.min.css" rel="stylesheet">

<input type="hidden" name="install_url" id="install_url" value="{{install_url}}">
<input type="hidden" name="user_id" id="user_id" value="{{user.id}}">

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Update password
            <!--<small>With custom checbox and radion elements.</small>-->
        </h5>

        <div class="ibox-tools">

            <a href="javascript:window.history.back();" class="close-link">
                <i class="fa fa-arrow-left"></i>
            </a>

        </div>
    </div>
    <div class="ibox-content">

        <div class="formstd">
            <div class="formcontent">
                <form name="updatePassword" id="updatePassword" role="form" style="width:400px;"
                      action="?module={{module_name}}&action={{db_action}}" method="POST">

                    <div class="form-group">
                        <label for="actual_password" class='control-label'>Actual password:</label>
                        <input type="password" class="form-control" name="actual_password" id="actual_password"
                               data-error="Actual password is required" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="new_password" class='control-label'>New password:</label>
                        <input type="password" class="form-control" name="new_password" id="new_password"
                               data-error="Password is required" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="repeat_new_password" class='control-label'>Repeat new password:</label>
                        <input type="password" class="form-control" name="repeat_new_password" id="repeat_new_password"
                               data-error="Repeat password is required" required>

                        <div class="help-block with-errors"></div>
                    </div>
                    <input type="submit" class="btn btn-default" value="Submit">
                </form>
            </div>
        </div>

    </div>
</div>

<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/js/update_password.js"></script>

{% endblock %}