{% extends MainTpl %}

{% block header %}test{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}

<input type="hidden" name="install_url" id="install_url" value="{{install_url}}">
<input type="hidden" name="moduleToView" id="moduleToView" value="{{moduleToView}}">
<input type="hidden" name="queryidToDelete" id="queryidToDelete" value="{{queryidToDelete}}">

<div class="row">
    <span name="entitiesDiv" id="entitiesDiv"></span>

    <div class="col-lg-12 animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><label id="entityLabel">List of queries</label>
                        </h5>

                        <div class="ibox-tools">
                            <a href="javascript:window.history.back();" class="close-link">
                                <i class="fa fa-arrow-left"></i>
                            </a>

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-gear"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a data-toggle="modal" data-target="#modalQuery">Create query</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="ibox-content">

                        {% for query in queries %}
                        <div id="{{query.id}}">
                            <h3>{{query.name}}</h3>

                            <div class="form-group">
                                <input type="test" name="{{query.id}}_name" id="{{query.id}}_name"
                                       class="form-control" value="{{query.name}}">
                            </div>

                            <div class="form-group">
                                <input type="test" name="{{query.id}}_description" id="{{query.id}}_description"
                                       class="form-control" value="{{query.description}}">
                            </div>
                            <div class="form-group">
                                <textarea name="{{query.id}}_value" id="{{query.id}}_value" rows="4"
                                          class="form-control">{{query.value}} </textarea>
                            </div>

                            <a data-toggle="modal" data-target="#modalDeleteQuery" onclick="javascript:setQueryToDelete('{{query.id}}');" class="btn btn-danger">Delete</a>&nbsp;
                            <a onclick="javascript:saveQuery('{{query.id}}');" class="btn btn-primary">Save</a><br/>
                            <hr/>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

{% include 'Popups/QueryPopup.html' %}
{% include 'Popups/DeleteQueryPopup.html' %}
<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/Js/index.js"></script>
{% endblock %}


