{% extends MainTpl %}

{% block header %}Todos{% endblock %}

{% block header_block %}
{% include 'Header.html' %}
{% endblock %}

{% block main_content %}

<!-- Le styles -->
<link href="{{install_url}}/src/MyCrm/Modules/{{module_name}}/css/style.css" rel="stylesheet">


<script type="text/javascript"
        src="http://cdn.transparensee.com/lib/jquery-plugin/touchpunch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="{{install_url}}/vendor/editor/jquery.htmlClean.js"></script>
<!--<script type="text/javascript" src="http://localhost/test/vendor/editor/script.min.js"></script>-->


<body class="edit">

<input type="hidden" name="install_url" id="install_url" value="{{install_url}}">
<input type="hidden" name="module_name" id="module_name" value="{{module_edit_name}}">
<input type="hidden" name="current_file_name" id="current_file_name">
<input type="hidden" name="file_name" id="file_name">
<input type="hidden" name="current_query_name" id="current_query_name">
<input type="hidden" name="entity" id="entity" value="{{entity}}">

<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Query Builder</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="clear">Clear file</a></li>
                        <li><a id="newpage">New file</a></li>
                        <li class="divider"></li>
                        <li><a id="save">Save file</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:window.history.go(-1);">Exit</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>


<div class="container" style="width:100%;" id="container">
    <div class="row">
        <div class="col-lg-2" id="sideBarComponents">
            <div class="sidebar-nav">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                    <br/>

                    <div name="query_div" id="query_div">
                        <h3>Select</h3>

                        <div name="select_div" id="select_div"></div>
                        <h3>From</h3>
                        <div name="from_div" id="from_div"></div>
                        <div name="where_div" id="where_div"></div>
                    </div>

                    <br/>

                    <button onclick="javascript:updateQueryDiv();" value="test">Test</button>
                    <br/>

                    {% for entitie in entities %}
                    <input type="checkbox" name="chk_{{entitie}}" id="chk_{{entitie}}"
                           onclick="javascript:addToGrid(this.id, this.checked);">&nbsp;{{entitie}}<br/>
                    {% endfor %}

                </div>
            </div>
        </div>


        <div class="col-lg-10">

            <div class="demo" id="demoDiv" name="demoDiv">
                <div class="row">
                    <div class="col-md-6" id="col1">&nbsp;</div>
                    <div class="col-md-6" id="col2">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-6" id="col3">&nbsp;</div>
                    <div class="col-md-6" id="col4">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-6" id="col5">&nbsp;</div>
                    <div class="col-md-6" id="col6">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-6" id="col7">&nbsp;</div>
                    <div class="col-md-6" id="col8">&nbsp;</div>
                </div>
            </div>

            <!--/span-->
            <div id="download-layout">
                <div class="container">


                </div>
            </div>

            <div name="divCodeEditor" id="divCodeEditor" style="display:none;">
                <textarea id="code1" name="code1"></textarea>
            </div>

        </div>

    </div>
</div>

<!--/span-->

</div>
</div>
{% include 'Popups/AddClausePopup.html' %}

</body>

</html>

<script src="{{install_url}}/src/MyCrm/Modules/{{module_name}}/js/index.js"></script>
{% endblock %}
