{% extends MainTpl %}{% block header %}{{module_title}}{% endblock %}{% block header_block %}{% include 'Header.html' %}{% endblock %}{% block main_content %}<div class="container" style="width:100%;">
	<div class="lyrow ui-draggable removeClean">
		<div class="view">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="box box-element ui-draggable removeClean">
						<div class="view">
							<div class="jumbotron">
								<h1>
									Heazdllo, world!
								</h1>
								<p>
									This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
								</p>
								<p>
									<a class="btn btn-primary btn-large" href="#">Learn more</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="lyrow ui-draggable databased removeClean">
		<div class="view">
			<table class="table">
				<thead>
					<tr>
						<th>
							case_priority
						</th>
						<th>
							case_status
						</th>
						<th>
							case_type
						</th>
					</tr>
				</thead>
				<tbody>
					{% for var in gpdXv %}<tr><td>{{ var.case_priority }}</td><td>{{ var.case_status }}</td><td>{{ var.case_type }}</td></tr>{% endfor %}

					<tr>
						<td>
							fields.case_priority
						</td>
						<td>
							fields.case_status
						</td>
						<td>
							fields.case_type
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>{% endblock %}