<div class="modal inmodal" id="modalAddField" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">{{module_words.action_close}}</span></button>
                <i class="fa fa-info-circle modal-icon"></i>
                <h4 class="modal-title">MyCRM</h4>
                <small class="font-bold">{{module_words.title_add_new_entity_entity}}
                </small>
            </div>
            <div class="modal-body">
                <input type="radio" name="type" id="showmenuDatabase" checked>Database field&nbsp;
                <input type="radio" name="type" id="showmenuRelationship">Relationship&nbsp;<br/><br/>


                <div class="menuDatabase" style="display: none;">
                    <form name="addFieldForm" id="addFieldForm">
                        <div class="form-group">
                            <label for="field_name" class='control-label'>{{module_words.title_name}}:</label>
                            <input type="text" class="form-control" name="field_name"
                                   id="field_name" data-error="{{module_words.title_error}}" required>

                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="field_type" class='control-label'>{{module_words.title_type}}:</label><br/>
                            <select class="form-control" id="field_type" name="field_type">
                                {% for field_type in listOfDoctrineType %}
                                <option value="{{ field.type}}">{{field_type}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="field_size" class='control-label'>{{module_words.title_size}}:</label>
                            <input type="text" class="form-control" name="field_size" id="field_size">
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="field_is_mandatory"
                                   id="field_is_mandatory"><label for="field_name" class='control-label'>&nbsp;{{module_words.title_is_mandatory}}</label>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">
                                {{module_words.action_cancel}}
                            </button>
                            <button type="submit" class="btn btn-primary">{{module_words.action_confirmation}}</button>
                        </div>

                    </form>
                </div>

                <div class="menuRelationship" style="display: none;">
                    <form name="addFieldFormRelation" id="addFieldFormRelation">
                        <div class="form-group">
                            <label for="field_name" class='control-label'>{{module_words.title_name}}:</label>
                            <input type="text" class="form-control" name="field_relation_name"
                                   id="field_relation_name" data-error="{{module_words.title_error}}" required>

                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="field_relation" class='control-label'>Relation type:</label><br/>
                            <select class="form-control" id="field_relation_type" name="field_relation_type">
                                {% for dtype in doctrine_classes %}
                                <option value="{{dtype}}">{{dtype}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="field_relation" class='control-label'>Target entity:</label><br/>
                            <select class="form-control" id="field_target" name="field_type">
                                {% for e in entities %}
                                <option value="{{e}}">{{e}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="field_relation_is_mandatory"
                                   id="field_relation_is_mandatory"><label for="field_name" class='control-label'>&nbsp;{{module_words.title_is_mandatory}}</label>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">
                                {{module_words.action_cancel}}
                            </button>
                            <button type="submit" class="btn btn-primary">{{module_words.action_confirmation}}</button>
                        </div>

                    </form>
                </div>


            </div>


        </div>
    </div>
</div>

<script>

    $('.menuDatabase').toggle("fast");

    $('#showmenuDatabase').click(function () {
        $('.menuDatabase').toggle("fast");
        $('.menuRelationship').slideToggle("fast");
    });

    $('#showmenuRelationship').click(function () {
        //$('.menuDatabase').slideToggle("fast");
        $('.menuDatabase').toggle("fast");
        $('.menuRelationship').toggle("fast");
    });

    $("#addFieldFormRelation").submit(function (event) {

        event.preventDefault();

        if (!this.checkValidity()) {
            return false;
        } else {

            var field_relation_name = $("#field_relation_name").val();
            var field_relation_is_mandatory = $("#field_relation_is_mandatory").is(":checked");

            var field_target = $("#field_target").find(':selected').text();
            var field_relation_type = $("#field_relation_type").find(':selected').text();

            var entity_name = $("#entityLabel").html();
            var table_name = $("#table_name").val();

            $("#field_relation_name").val("");
            $("#field_relation_is_mandatory").val("");
            $('#field_target option')[0].selected = true;
            $('#field_relation_type option')[0].selected = true;

            /** Add field in the datatable */
            var td1 = '<td><input class="form-control" type="text" value="' + field_relation_name + '"></td>';
            var td2 = '<td><input name="' + field_relation_name + '_select" id="' + field_relation_name + '_select" class="form-control" type="text" value="' + field_relation_type + '"></td>';
            var td3 = '<td> </td>';

            if (field_relation_is_mandatory == true) {
                var td4 = '<td><input class="form-control" type="checkbox" name="' + field_relation_is_mandatory + '_nullable" id="' + field_relation_is_mandatory + '_nullable" checked></td>';
            } else {
                var td4 = '<td><input class="form-control" type="checkbox" name="' + field_relation_is_mandatory + '_nullable" id="' + field_relation_is_mandatory + '_nullable"></td>';
            }

            var td5 = '<td><input class="form-control" type="text" name="' + field_relation_name + '_targetEntity" id="' + field_relation_name + '_targetEntity" value="' + field_target + '"></td>';
            //var td5 = "<td>" + field_target + "</td>";

            var td6 = "<td><a name='deleteRow' id='deleteRow' class=\"btn btn-primary\"> &nbsp;{{module_words.action_delete}}</a></td>";

            $('#tableModules > tbody:last').append('<tr>' + td1 + '' + td2 + '' + td3 + '' + td4 + td5 + td6 + '</tr>');

            $("#modalAddField").modal('hide');
        }
    });

</script>